<div class="row">
  <div class="form-group form-inline col">
    <%= f.label :ab_info, "AB情報" %>
    <%= f.text_field :ab_info, value: nil, class: "form-control form-control-sm" %>
    <input type="button" value="確認" >
  </div>
</div>