
/*　スクロールバーの実装 */
.table-sticky {
    display: block;
    overflow-y: scroll;
    height: calc(100vh/2);
    border-collapse: collapse;
}


.table-sticky thead th {
    position: sticky;
    top: 0;
    z-index: 1;
    background: #FFFFFF;
    border-top:#FFFFFF;
}
