version: "3.8"
services:
  sb:
    build:
      context: ./securebox/sb
      dockerfile: Dockerfile
    tty: true
    privileged: true
    environment:
      TZ: Asia/Tokyo
    ports:
      - 3000:3000
    volumes:
      - ./securebox/sb:/app:cached
      - bundle_path:/app/vendor/bundle
      - assets_path:/app/public/assets
      - tmp_path:/app/tmp
    links:
      - db
      - minio
    env_file:
      - ./securebox/sb/.env
  db:
    image: mysql:5.7
    command:
      - --sql-mode=NO_ENGINE_SUBSTITUTION
    ports:
      - 10101:3306
    environment:
      MYSQL_DATABASE: alarmbox_develop
      MYSQL_ROOT_PASSWORD: password
      MYSQL_ROOT_HOST: "%"
      MYSQL_USER: alarmbox
      MYSQL_PASSWORD: alarmbox
      TZ: "Asia/Tokyo"
    volumes:
      - ./db/mysql:/var/lib/mysql:delegated
  minio:
    image: minio/minio:latest
    ports:
      - "9000:9000"
    volumes:
      - ./docker/volume/minio:/data
    command: server /data
    environment:
      MINIO_ACCESS_KEY: minio_access
      MINIO_SECRET_KEY: minio_secret
volumes:
  bundle_path:
  assets_path:
  tmp_path:
